.movie {
    display:flex;
    transition: transform 1s;
}

.movie-list {
    display:flex;
    flex-direction: column;
    background-color:white;
    width: 300px;
    height:100vh;
    padding:0;
    margin:0;
    overflow-x:hidden;
    overflow-y:auto;
}

.movie-list-head {
    list-style-type: none;
    text-align: center;
    padding:20px;
}

.movie-element {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    border:1px solid black;
    text-align: center;
    min-height:60px;
}

.movie-element:hover {
    background-color: rgba(0,0,0,0.2);
}

.movie-title {
    font-size:1em;
    font-weight: bold;
    margin:auto;
}

.movie-rating {
    font-size:15px;
}

.hidden {
    transform:translateX(-90%);
    transition: transform 1s;
    height:0;
}

.retract-button {
    width:35px;
    height: 100vh;
    border:none;
    background-color: rgba(0,0,0,0.1);
    font-size: 25px;
}

.retract-button:hover {
    background-color: rgba(0,0,0,0.2);
}

.movie-list::-webkit-scrollbar {
    display: none;
}

.movie-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
} 